{% load static %}
<footer>

    <div id="nome-footer">TechnologyTime</div>

    <section id="itens-do-footer">
        
        <ul id="contatos">
            <li>LoremIpsum@gmail.com.br</li>
            <li>+55 (84) 9XXXX-XXXX</li>
        </ul>

        <ul id="redes-sociais">

            <li><img src="{% static 'blog/img/youtube.svg' %}"><a href=""></a></li></li>
            <li><img src="{% static 'blog/img/spotify.svg' %}"><a href=""></a></li></li>

        </ul>

    </section>

</footer>